@model PokemonViewModel
@using System.Text.Json
@{
    ViewData["PoketStats"] = "Pokemon";
}

<div class="text-center">

        <div class="row justify-content-Left">

            <div class="col-md-5">
            <h1 class="display-4">PokeStatsV1</h1>
                <div class="pokemon-panel">
                <!-- Añadimos d-flex y gap-2 al formulario -->
                <form asp-controller="Pokemon" asp-action="Busqueda" method="post" id="formBusqueda" class="d-flex gap-2">
                    
                    <!-- Contenedor del input para que el autocompletado no rompa la fila -->
                    <div class="position-relative flex-grow-1">
                        <input id="busqueda" name="busqueda" type="text" class="form-control" placeholder="Buscar Pokemon..." /> 
                        <!-- El div de sugerencias queda absolutamente posicionado abajo del input -->
                        <div id="sugerencias" class="autocomplete-list position-absolute w-100" style="z-index: 1000;"></div> 
                    </div>

                    <button class="btn btn-primary">Buscar</button>
                </form>
                </div>
                @if(Model.TieneError)
{
    <div class="alert alert-danger">

        @Model.Error

    </div>
}
                <div class="card">

                    <div class="card-header  d-flex justify-content-between align-items-center @Model.Pokemon.ClaseHeader">
                        #@Model.Pokemon.NumeroPokedex.ToString("D3")
                        @Model.Pokemon.Nombre.ToUpper()
                    </div>

                    <div class="card-body card @Model.Pokemon.ClaseColor">
                        <div class="pokemon-image-container">

                        <div class="pokemon-form-left">

                            @foreach(var forma in Model.Pokemon.Formas
                                .Where(f => f.Tipo == TipoForma.Default ||
                                            f.Tipo == TipoForma.Regional))
                            {
                                <form asp-action="Busqueda"
                                    asp-controller="Pokemon"
                                    method="post">

                                    <input type="hidden"
                                        name="busqueda"
                                        value="@forma.Nombre"/>

                                    <button
                                        type="submit"
                                        class="form-button @(forma.EsActual ? "form-current" : "")">

                                        @forma.NombreMostrar

                                    </button>

                                </form>
                            }

                            </div>

                        <img src="@Model.Pokemon.Imagen"
                            class="pokemon-img"
                            alt="@Model.Pokemon.Nombre">

                        <div class="pokemon-form-right">

                            @foreach(var forma in Model.Pokemon.Formas
                                .Where(f => f.Tipo != TipoForma.Default &&
                                            f.Tipo != TipoForma.Regional))
                            {
                                <form asp-action="Busqueda"
                                    asp-controller="Pokemon"
                                    method="post">

                                    <input type="hidden"
                                        name="busqueda"
                                        value="@forma.Nombre"/>

                                    <button
                                        type="submit"
                                        class="form-button @(forma.EsActual ? "form-current" : "")">

                                        @forma.NombreMostrar

                                    </button>

                                </form>
                            }

                            </div>

                    </div>
                    
                    <div class="pokemon-types">
                        @foreach (var tipo in Model.Pokemon.Tipos)
                        {
                            <span class="pokemon-badge badge-@tipo">
                                @PokemonHelpers.ObtenerIcono(tipo)
                                @tipo.ToUpper()
                            </span>
                        }
                    </div>
                    <div class="accordion accordion-flush" id="accordionHabilidades">

                    @for (int i = 0; i < Model.Pokemon.Habilidades.Count; i++)
                    {
                        var habilidad = Model.Pokemon.Habilidades[i];

                        <div class="accordion-item">

                            <h2 class="accordion-header">

                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse@(i)">
                                        <span class="pokeball-icon">
                                        ⚪ 
                                        </span>

                                    @PokemonHelpers.FormatearNombre(habilidad.Nombre)

                                    @if (habilidad.EsOculta)
                                    {
                                        <span class="hidden-ability">
                                            ⭐ Oculta
                                        </span>
                                    }

                                </button>

                            </h2>

                            <div id="collapse@(i)"
                                class="accordion-collapse collapse"
                                data-bs-parent="#accordionHabilidades">

                                <div class="accordion-body">

                                    @habilidad.Descripcion

                                </div>

                            </div>

                        </div>
                    }

                    </div>

</*--------------------- INICIO STATS ----------------------------------------*/>
                        <div class="stat-container">

                            <p class="stat-title">
                                HP
                            </p>

                            <div class="stat-row">

                                <div class="progress @Model.Pokemon.ClaseHeader" >
                                    <div class="progress-bar @Model.Pokemon.ClaseBarra"  style="width:@((Model.Pokemon.HP * 100)/255)% ">
                                    </div>
                                </div>

                                <span class="stat-value">
                                    @Model.Pokemon.HP
                                </span>

                            </div>

                        </div>
                        <div class="stat-container">

                            <p class="stat-title">
                                Ataque
                            </p>

                            <div class="stat-row">

                                <div class="progress  @Model.Pokemon.ClaseHeader" >
                                    <div class="progress-bar @Model.Pokemon.ClaseBarra" style="width:@((Model.Pokemon.Ataque * 100)/255)%">
                                    </div>
                                </div>

                                <span class="stat-value">
                                    @Model.Pokemon.Ataque
                                </span>

                            </div>

                        </div>
                        <div class="stat-container">

                            <p class="stat-title">
                                Defensa
                            </p>

                            <div class="stat-row">

                                <div class="progress  @Model.Pokemon.ClaseHeader" >
                                    <div class="progress-bar @Model.Pokemon.ClaseBarra" style="width:@((Model.Pokemon.Defensa * 100)/255)%">
                                    </div>
                                </div>

                                <span class="stat-value">
                                    @Model.Pokemon.Defensa
                                </span>

                            </div>

                        </div>
                        <div class="stat-container">

                            <p class="stat-title">
                                Ataque Especial
                            </p>

                            <div class="stat-row">

                                <div class="progress  @Model.Pokemon.ClaseHeader" >
                                    <div class="progress-bar @Model.Pokemon.ClaseBarra" style="width:@((Model.Pokemon.AtaqueEspecial * 100)/255)%">
                                    </div>
                                </div>

                                <span class="stat-value">
                                    @Model.Pokemon.AtaqueEspecial
                                </span>

                            </div>

                        </div>
                        <div class="stat-container">

                            <p class="stat-title">
                                Defensa Especial
                            </p>

                            <div class="stat-row">

                                <div class="progress  @Model.Pokemon.ClaseHeader" >
                                    <div class="progress-bar @Model.Pokemon.ClaseBarra" style="width:@((Model.Pokemon.DefensaEspecial * 100)/255)%">
                                    </div>
                                </div>

                                <span class="stat-value">
                                    @Model.Pokemon.DefensaEspecial
                                </span>

                            </div>

                        </div>
                        <div class="stat-container">

                            <p class="stat-title">
                                Velocidad
                            </p>

                            <div class="stat-row">

                                <div class="progress  @Model.Pokemon.ClaseHeader" >
                                    <div class="progress-bar @Model.Pokemon.ClaseBarra" style="width:@((Model.Pokemon.Velocidad * 100)/255)%">
                                    </div>
                                </div>

                                <span class="stat-value">
                                    @Model.Pokemon.Velocidad
                                </span>

                            </div>

                        </div>
</*---------- Fin de Stats ----------------------------*/>
<h4>Cadena evolutivas</h4>

@{
    List<EvolucionPokemon> caminoPrincipal = new();
    List<EvolucionPokemon> bifurcaciones = new();

    bool encontroBifurcacion = false;

    foreach(var evo in Model.Pokemon.Evoluciones)
    {
        if(!encontroBifurcacion)
        {
            caminoPrincipal.Add(evo);

            if(evo.EsBifurcacion)
            {
                encontroBifurcacion = true;
            }
        }
        else
        {
            bifurcaciones.Add(evo);
        }
    }
}

<div class="evolution-container">

@foreach(EvolucionPokemon evo in caminoPrincipal)
{

    <form asp-action="Busqueda"
          asp-controller="Pokemon"
          method="post"
          class="evolution-form">

        <input type="hidden"
               name="busqueda"
               value="@evo.Nombre" />
               


        <button
            type="submit"
            class="evolution-card @(evo.EsActual ? "evolution-current" : "")">

            <p>#@evo.NumeroPokedex</p>

            @if(!evo.EsActual)
            {
                <img src="@evo.Imagen" />
            }

            <h6>@evo.Nombre</h6>

            @if(evo.EsActual)
            {
                <span>⭐ Actual ⭐</span>
            }

        </button>
         @if(evo.EsBifurcacion)
    {
        <div class="branch-tree">

            <div class="branch-vertical"></div>

            <div class="branch-horizontal"></div>

        </div>
    }

    </form>

   @if(evo != caminoPrincipal.Last())
{
    EvolucionPokemon siguiente =
        caminoPrincipal[
            caminoPrincipal.IndexOf(evo) + 1
        ];

    <div class="evolution-transition">

        @if(!string.IsNullOrEmpty(siguiente.MetodoEvolucion))
        {
            <div class="evolution-method">

                <small>

                    @siguiente.MetodoEvolucion

                </small>

                <strong>

                    @siguiente.ValorMetodo

                </strong>

            </div>
            }

            <div class="evolution-arrow">

                →

            </div>

        </div>
    }

}

</div>

@if(bifurcaciones.Any())
{
    
    <div class="evolution-container2 mt-3">

        @foreach(var evo in bifurcaciones)
        {
            <form asp-action="Busqueda"
                  asp-controller="Pokemon"
                  method="post"
                  class="evolution-form">
                    <div class="branch-down"></div>
                <input type="hidden"
                       name="busqueda"
                       value="@evo.Nombre" />
@if(!string.IsNullOrEmpty(evo.MetodoEvolucion))
{
    <div class="evolution-method">

        <small>

            @evo.MetodoEvolucion

        </small>

        <strong>

            @evo.ValorMetodo

        </strong>

    </div>
}

                <button
                    type="submit"
                    class="evolution-card">

                    <p>#@evo.NumeroPokedex</p>

                    <img src="@evo.Imagen"/>

                    <h6>@evo.Nombre</h6>

                </button>

            </form>
        }

    </div>

}




</* --------------- Fin de cadena Evolitva --------------------------------*/>
                    
                    </div></* --------------- Fin del body --------------------------------*/>
                
                </div>   </* ------------------ Fin del class card --------------*/>
            
            </div></*-------------fin div class col md6 --------------------*/>
</div>

<script>

const listaPokemon =
@Html.Raw(JsonSerializer.Serialize(Model.ListaPokemon));

</script>

@section Scripts{
    <script src="~/js/pokeScripts.js"></script>
}